<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.finma.finma_adview"> <!-- Replace with a unique package name string for your library -->
    
    <queries>
        <!-- Automatically injects system browser jumping rules for target apps -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>
</manifest>